
<div class="dashboard-container" [class.is-mobile]="mobileQuery.matches">

    <!-- ---------TOOLBAR------------ -->
    <mat-toolbar color="primary"
                 class="dashboard-toolbar"
    >
        
        <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <h1 class="app-name">S-Inventory</h1>

        <div class="right">
            <ul>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>

                <li>
                    <button mat-button [matMenuTriggerFor]="menu">
                        <mat-icon>person_outline</mat-icon>
                    </button>

                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="logout()">
                           <mat-icon>exit_to_app</mat-icon>
                           Cerrar Sesión
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>

    </mat-toolbar>  

    <!-- ---------SIDENAV------------ -->
    <mat-sidenav-container class="sidenav-container" 
      [style.marginTop.px]="mobileQuery.matches ? 56: 0"
    >
       <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over':'side'"
                    [fixedInViewport]="mobileQuery.matches"
                    fixedTopGap="56" 
       >

           <mat-nav-list>
    <!-- ----------- Profile -------------->
                <div class="profile-card">
                    <div class="header">
                        <h2>{{username}}</h2>
                        <h6>{{email}}</h6>
                    </div>
                </div>
  

    <!-------------- MENU SIDENAV --------->
               
               <mat-divider></mat-divider>

                   <a mat-list-item [routerLink]="nav.route" 
                   *ngFor="let nav of menuNav"
                   >
                   <div class="alinear">
                   <mat-icon class="icono">{{nav.icon}}</mat-icon>
                   <span>{{nav.name}}</span>
                   </div>
                </a>
     
           </mat-nav-list>

       </mat-sidenav>

       <mat-sidenav-content> 
                  <router-outlet></router-outlet>
       </mat-sidenav-content>
        
    </mat-sidenav-container>
    
</div>
